<!DOCTYPE html>
<html lang="en">
{% extends "main_template.html" %}
{% block content %}
<div class =" center p-5">
    <!--table-->
    <table class ="table table-bordered text-white" style ="max-width: 800px; margin:auto;" >
<thead> <tr> <th colspan="2"> You have submitted the following : </th> </tr> </thead>

<tbody>
{% for x, y in results.items() %}
<!--if swimming is selected make the other part yes-->
{% if x== 'Swimming' %}
<tr class="text-white"> <td> {{ x }} </td> <td> Yes </td> </tr>
{% else %}
<!--for all other results print value and the field section-->
<tr class="text-white"> <td> {{ x }} </td> <td> {{ y }} </td> </tr>
{% endif %}
{% endfor %}
 <tr>
     <td class ="text-right" colspan="2" >
         <!--buttons for editing and confirm-->
    <a href ="{{ url_for('programs')}}">
        <button type = "button" class = "btn btn-primary " > Edit </button>
    </a>
         <a href ="{{ url_for('index')}}">
             <button type = "button" class = "btn btn-primary " > Confirm </button>
         </a>
     </td>
 </tr>
</tbody>
    </table>
    </div>
{% endblock %}