
.blue{
    background-color: rgb(0,182,222) !important;
}
.navblue{
    background-color: rgb(0,129,167) !important;
}
.red-nav{
    background-color: red !important;
}


.text-blue{
    color: rgb(0,182,222) !important;
    font-family: 'Poppins', sans-serif;
}
.text-navblue{
    color: rgb(0,129,167) !important;
    font-family: 'Poppins', sans-serif;
}
.text-white{
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}

.text-white-large{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: xxx-large;
    padding: 15px;
    margin: 15px;
    text-align: center;
}
.nav-link{
    font-family: 'Righteous', cursive;
    color: rgb(0,129,167);
}
.nav-link-active{
    font-family: 'Righteous', cursive;
    color: rgb(0,129,167);
}
.center {
    position: center;
    max-width: 75%;
    margin: 10px auto auto;
    text-align: center;
    background-color: red;
}
.footer{
    background-color: rgb(0,129,167);
    text-align: left;
    color: white;
    float: left;
    display: block;
    padding: 15px;
    max-width: 100%;
    min-width: 100%;
    font-family: 'Righteous', cursive;
}
.back_col{
    background-color: rgb(197, 222, 242) !important;
}

.bg-image {
     width: 100%;
     height: 307px;
     background-position: center;
     background-size: cover;
    position:relative;
 }
.title {
    position:absolute;
    top:100%;
    left:0;
    transform: translate(0,-100%);
    color: red;
    font-family: 'Righteous', cursive;
    font-size: 20em;
    margin:0;
    padding:0;
    line-height: 0.7em;
}

.card {
    background: red;
}
.card-text {
    color: white;
    margin: auto;
}
.text-red{
    color: red;
}
.iframe {
    border-width: 0;
}
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.text-coach{
    color: rgb(0,129,167) !important;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
@media screen and (max-width: 850px) {
.title{
    font-size: 8em;
}
}

@media screen and (max-width: 600px) {
    .center{
        max-width: 100%;
    }
}


